<h2>Meus Heróis</h2>

<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    [class.select]="hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span> {{ hero.id }} </span> {{ hero.name }}
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2> {{ selectedHero.name | uppercase}} Details</h2>
  <div>
    <span>Id: </span>{{ selectedHero.id }}
    <span>Name: </span>{{ selectedHero.name | titlecase }}
  </div>

  <div>
    <label for="name">Hero name</label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="Name" type="text">
  </div>
</div>
